<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="etomica.plugin"
   name="Etomica Plug-in"
   version="1.0.0"
   provider-name=""
   class="etomica.plugin.EtomicaPlugin">

   <runtime>
      <library name="resolver.jar">
         <export name="*"/>
      </library>
      <library name="etomica_core.jar">
         <export name="*"/>
      </library>
      <library name="ptolemy.jar">
         <export name="*"/>
      </library>
      <library name="g3d.jar">
         <export name="*"/>
      </library>
      <library name="vecmath1.2-1.14.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
   </requires>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="tocsamples.xml">
      </toc>
      <toc
            file="toctasks.xml">
      </toc>
   </extension>
   <extension
         id="NewEtomicaDocWizard"
         name="New Etomica Document Wizard"
         point="org.eclipse.ui.newWizards">
      <category
            name="Etomica"
            id="etomica.plugin">
      </category>
      <wizard
            icon="icons/sample.gif"
            class="etomica.plugin.wizards.NewEtomicaProject"
            descriptionImage="src/etomica/plugin/icons/element.gif"
            category="etomica.plugin"
            project="true"
            preferredPerspectives="EtomicaRun"
            name="Etomica Project"
            id="etomica.plugin.wizards.NewEtomicaProject">
	        
      </wizard>
      <wizard
            icon="icons/sample.gif"
            class="etomica.plugin.wizards.NewEtomicaDocument"
            descriptionImage="src/etomica/plugin/icons/element.gif"
            category="etomica.plugin"
            project="false"
            preferredPerspectives="EtomicaRun"
            name="Etomica Simulation"
            id="etomica.plugin.wizards.NewEtomicaDocument"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <newWizardShortcut
               id="org.eclipse.jdt.ui.wizards.NewProjectCreationWizard">
         </newWizardShortcut>
         <viewShortcut
               id="org.eclipse.jdt.ui.TypeHierarchy">
         </viewShortcut>
         <perspectiveShortcut
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspectiveShortcut>
         <actionSet
               id="org.eclipse.jdt.ui.JavaActionSet">
         </actionSet>
         <view
               relative="org.eclipse.ui.views.ResourceNavigator"
               relationship="stack"
               id="org.eclipse.jdt.ui.PackageExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Etomica Preferences"
            class="etomica.plugin.preferences.EtomicaPreferencePage"
            id="etomica.plugin.preferences.EtomicaPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IFile"
            name="Etomica Property Page"
            nameFilter="*.*"
            class="etomica.plugin.properties.EtomicaPropertyPage"
            id="etomica.plugin.properties.samplePropertyPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Etomica Views"
            id="etomica.plugin">
      </category>
      <view
            allowMultiple="false"
            icon="icons/sample.gif"
            class="etomica.plugin.views.SpeciesView"
            category="etomica.plugin"
            name="Species"
            id="etomica.plugin.views.SpeciesView"/>
      <view
            allowMultiple="false"
            category="etomica.plugin"
            class="etomica.plugin.views.SummaryView"
            icon="icons/sample.gif"
            id="etomica.plugin.views.SummaryView"
            name="Summary"/>
      <view
            allowMultiple="false"
            category="etomica.plugin"
            class="etomica.plugin.views.PhaseView"
            icon="icons/sample.gif"
            id="etomica.plugin.views.PhaseView"
            name="Phase"/>
      <view
            allowMultiple="false"
            category="etomica.plugin"
            class="etomica.plugin.views.ConfigurationView"
            icon="icons/sample.gif"
            id="etomica.plugin.views.ConfigurationView"
            name="Configuration"/>
      <view
            allowMultiple="false"
            category="etomica.plugin"
            class="etomica.plugin.views.ConfigurationViewDP"
            icon="icons/sample.gif"
            id="etomica.plugin.views.ConfigurationViewDP"
            name="DisplayPhase"/>
      <view
            allowMultiple="true"
            category="etomica.plugin"
            class="etomica.plugin.views.DataTableView"
            icon="icons/sample.gif"
            id="etomica.plugin.views.DataTableView"
            name="Data Table"/>
      <view
            allowMultiple="true"
            category="etomica.plugin"
            class="etomica.plugin.views.DataPlotView"
            icon="icons/sample.gif"
            id="etomica.plugin.views.DataPlotView"
            name="Data Plot"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="etomica.plugin.editors.EtomicaEditor"
            icon="icons/sample.gif"
            default="true"
            name="Etomica Editor"
            id="etomica.plugin.editors.EtomicaEditor"
            extensions="etom"/>
      <editor
            class="etomica.plugin.editors.EtomicaInputEditor"
            default="true"
            extensions="inp"
            icon="icons/sample.gif"
            id="etomica.plugin.editors.EtomicaInputEditor"
            name="Etomica Input Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="etomica.plugin.editors.EtomicaEditor"
            id="etomica.plugin.editors.EtomicaEditorAction">
         <menu
               label="&amp;Etomica"
               path="additions"
               id="EtomicaMenu">
               <separator name="group1"/>
         </menu>
         <action
               disabledIcon="src/etomica/plugin/actions/disabled/disabled_co.gif"
               toolbarPath="additions/Etomica"
               label="&amp;Run simulation"
               class="etomica.plugin.actions.RunSimulationActionDelegate"
               icon="src/etomica/plugin/actions/enabled/run_exc.gif"
               tooltip="Run Simulation"
               style="push"
               menubarPath="EtomicaMenu/group1"
               id="RunSimulation"/>
         <action
               disabledIcon="src/etomica/plugin/actions/disabled/terminate_co.gif"
               toolbarPath="additions/Etomica"
               label="&amp;Stop simulation"
               class="etomica.plugin.actions.StopSimulationActionDelegate"
               icon="src/etomica/plugin/actions/enabled/terminate_co.gif"
               tooltip="Terminate simulation"
               style="push"
               menubarPath="EtomicaMenu/group1"
               id="StopSimulation"/>
         <action
               disabledIcon="src/etomica/plugin/actions/disabled/suspend_co.gif"
               toolbarPath="additions/Etomica"
               label="&amp;Pause simulation"
               icon="src/etomica/plugin/actions/enabled/suspend_co.gif"
               class="etomica.plugin.actions.PauseSimulationActionDelegate"
               style="push"
               menubarPath="EtomicaMenu/group1"
               id="PauseSimulation"/>
         <action
               toolbarPath="additions/Etomica"
               label="Repeat Activities"
               icon="src/etomica/plugin/icons/repeat.gif"
               class="etomica.plugin.actions.RepeatActivitiesActionDelegate"
               style="push"
               menubarPath="EtomicaMenu/group1"
               id="RepeatActivities"/>
         <action
               toolbarPath="additions/Etomica"
               label="Reset Controller"
               icon="src/etomica/plugin/icons/repeat.gif"
               class="etomica.plugin.actions.ResetControllerActionDelegate"
               style="push"
               menubarPath="EtomicaMenu/group1"
               id="ResetController"/>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="etomica.plugin.persistence.EtomicaDocumentProvider"
            id="etomica.plugin.persistence.EtomicaDocumentProvider"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="etomica.plugin.preferences.PreferencesInitializer"/>
   </extension>

</plugin>
