<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="etomica.ide"
   name="Ide Plug-in"
   version="1.0.0"
   provider-name="Etomica"
   class="etomica.ide.IdePlugin">

   <runtime>
      <library name="ide.jar">
         <export name="*"/>
      </library>
      <library name="bin/">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <newWizardShortcut
               id="org.eclipse.jdt.ui.wizards.NewProjectCreationWizard">
         </newWizardShortcut>
         <viewShortcut
               id="org.eclipse.jdt.ui.TypeHierarchy">
         </viewShortcut>
         <perspectiveShortcut
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspectiveShortcut>
         <actionSet
               id="org.eclipse.jdt.ui.JavaActionSet">
         </actionSet>
         <view
               relative="org.eclipse.ui.views.ResourceNavigator"
               relationship="stack"
               id="org.eclipse.jdt.ui.PackageExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Simulation ActionSet"
            visible="true"
            id="etomica.ide.actionSet">
         <menu
               label="Simulation &amp;Menu"
               id="simulationMenu">
            <separator name="simulationGroup"/>
         </menu>
         <action
               disabledIcon="icons/disabled/terminate_co.gif"
               toolbarPath="simulationGroup"
               label="Terminate"
               tooltip="Terminate simulation"
               class="etomica.ide.MakeSimulation"
               icon="icons/enabled/terminate_co.gif"
               id="etomica.ide.terminate"/>
         <action
               disabledIcon="icons/disabled/suspend_co.gif"
               toolbarPath="simulationGroup"
               label="Suspend"
               tooltip="Suspend simulation"
               class="etomica.ide.MakeSimulation"
               icon="icons/enabled/suspend_co.gif"
               id="etomica.ide.suspend"/>
         <action
               disabledIcon="icons/disabled/resume_co.gif"
               toolbarPath="simulationGroup"
               label="Resume"
               tooltip="Resume simulation"
               icon="icons/enabled/resume_co.gif"
               class="etomica.ide.MakeSimulation"
               id="etomica.ide.resume"/>
         <action
               disabledIcon="icons/disabled/run_exc.gif"
               toolbarPath="simulationGroup"
               label="Run"
               class="etomica.ide.MakeSimulation"
               tooltip="Run simulation"
               icon="icons/enabled/run_exc.gif"
               id="etomica.ide.run"/>
         <action
               toolbarPath="simulationGroup"
               label="&amp;New Simulation"
               class="etomica.ide.MakeSimulation"
               tooltip="New simulation"
               icon="icons/public_co.gif"
               menubarPath="simulationMenu/simulationGroup"
               id="etomica.ide.MakeSimulation"/>
      </actionSet>
   </extension>
   
   <extension
   		id="etomica.ide.ui.views"
   		name="Views"
   		point="org.eclipse.ui.views">
      <category
            name="Etomica"
            id="etomica.ide.ui"/>
      <category
           parentCategory="etomica.ide.ui"
           name="Simulation"
           id="etomica.ide.simulation"/>
   		<category
           parentCategory="etomica.ide.ui"
           name="Species"
           id="etomica.ide.species">
   		</category>
   		<view
   			name="Species View"
   			icon="sections.gif"
   			category="etomica.ide.ui/etomica.ide.species"
   			class="etomica.ide.ui.speciesview.SpeciesView"
   			id="etomica.ide.ui.speciesview.SpeciesView">
   		</view>
     <view
           class="etomica.ide.ui.simulationview.SimulationView"
           category="etomica.ide.ui/etomica.ide.simulation"
           name="Simulation View"
           id="etomica.ide.ui.simulationview.SimulationView"/>
     <view
           allowMultiple="true"
           class="etomica.ide.ui.configurationview.ConfigurationView"
           category="etomica.ide.ui"
           name="Configuration View"
           id="etomica.ide.ui.configurationview.ConfigurationView"/>
   	</extension>
   <extension
         id="etomica.ide.ui.viewActions"
         name="View Actions"
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="etomica.ide.ui.speciesview.SpeciesView"
            id="etomica.ide.speciesview">
         <action
               toolbarPath="additions"
               label="Collapse All"
               tooltip="Collapse All"
               icon="icons/collapseall.gif"
               class="etomica.ide.ui.speciesview.CollapseAllAction"
               id="etomica.ide.ui.speciesview.collapseall"/>
      </viewContribution>
      <viewContribution
            targetID="etomica.ide.ui.simulationview.SimulationView"
            id="etomica.ide.simulationview">
         <action
               toolbarPath="additions"
               label="Pause/Resume"
               tooltip="Pause/Resume"
               class="etomica.ide.ui.simulationview.SimulationPauseResumeAction"
               id="etomica.ide.ui.simulationview.pauseresume"/>
      </viewContribution>
   </extension>

</plugin>
